body {
  background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');




.img-responsive {
    width: auto;
    height: auto;  
  }

 
  .navbar-brand {
    color:white;
    width: 100%;
    margin: 10px;
  }
  
  .container-fluid {
    color: white;
  }

  .collapse {
    color: white;
  }


  .navbar-toggler {
    border-color: black;
  }

  .navbar-toggler-icon {
    border-bottom-color: bisque;
    
  }

  .nav-link {
    color: white;
    font-family: 'Times New Roman', Times, serif;

  }
  .body_style {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
  }
  .rhlm-3 {
    padding-top: 1rem!important;
  }
  .real1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .text-left {
    text-align: left!important;
  } 

  .rhlm-5 {
    margin-top: 3rem!important;
  }

  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
  }

  .cuerpo {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .img-fluid {
    width: 600px;
    height: auto;
    margin-top: 170px;
    left: 100px;

  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  .rg4ll {
    padding: 3rem!important;
  }
  .text-center {
    text-align: center!important;
  }

  .footer_style {
    background-color: #d403039c;
    color: white;
    font-size: 10px;
  }
  .footer_style a {
    margin: 2%;
  }
  a {
    color: #d403039c;
    text-decoration: none;
    background-color: transparent;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .form-group {
    margin-bottom: 1rem;
  }
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  label { 
    cursor: default;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
  }

  .btn-primary {
    background-color: #d403039c !important;
   
  }

  .btn-primary {
    color: white;
    background-color: #d403039c;
    border-color: #d403039c;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s;
  }

  h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
  }
  .rhlm-1 {
    padding: 0.25rem!important;
  }
  .carp-3 {
    margin: 1rem!important;
  }
  .carp-1 {
    margin-top: 0.25rem!important;
  }
  .anuel_flex {
    width: 100%;
    height: 0;
    padding-top: 56.26%;
    position: relative;
  }
  .p-2 {
    padding: 0.5rem!important;
  }

  .anuel_flex iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  body {
    background-color: black;
  }

  .parallax {
    background-image: url(../imagenes/Llnm.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-img {
    width: 30px;
  }

  .list-group-item {
    background-color: black;
    color: white;
    font-size: 20px;
  }

   