$ancho: -15px;
$margin-top: 0.25rem;
$font: 40px;
$margin: 1rem;
$margin-icline: 1em;
$font-1: 20px;
$width-responsive: auto;
$height-responsive: auto;
$witdh-nav: 100%;
$margin-nav: 10px;
$font-body: 14px;
$font-h1: 60px;
$font-cuerpo: 1.25rem;
$font-cuerpo2: 300;
$witdh-img: 600px;
$margin-img: 170px;
$left-img: 100px;
$heigt-anuel: 100%;
$padding-anuel: 56.26%;
$height-anuel: 0;
$top-anuel: 0;
$left-anuel: 0;
$bottom-anuel: 0;
$right-anuel: 0;
$height-parallax: 400px;
$witdh-logo: 30px;
$padding-btn: .375rem .75rem;
$border-btn: 1px;
$font-btn: 400;
$line-btn: 1.5;
$footer-style: 2%;
$font-footer: 10px;
$padding-rg4l: 3rem;
$margin-p: 0;
$margin-pp:0px;
$label-bottom: 0.5rem;