$display: inline-block;
$diplay-flex: flex;
$flex: wrap;
$display-bl: block;
$position: absolute;
$psotion: relative;
$background-1: fixed;
$background-2: center;
$background-3: no-repeat;
$background-4: cover;
$background-clip: padding-box;
$label: default;
$over: clip;
$overflow: content-box;